<main role="main" class="container">
    <div class="starter-template">
        <h1>You are {{ user.name }}</h1>
        <p>
            Here is the list of registered users:
        </p>
        <table border="0" cellspacing="0" cellpadding="0" id="users-table" class="table shadow-sm bg-white rounded">
            <thead class="thead-dark">
                <th data-sortname="name">Nombre</th>
                <th data-sortname="email">Email</th>
                <th data-sortname="role">Role</th>
            </thead>
            <tbody>
                {{#each users}}
                <tr class="user" data-name="{{name}}" data-email="{{email}}">
                    <td class="align-middle"><img src="{{photo}}" class="rounded-circle" alt="Profile photo"
                            style="width: 50px; height: 50px; object-fit: cover; margin-right: 20px;" /> {{name}}</td>
                    <td class="align-middle">{{email}}</td>
                    <td class="align-middle" class="text-capitalize">{{role}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>